/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #FFFFFF;
    --bg-section: #F6F6F6;
    --bg-footer: #23272A;
    --dark-text: #000000;
    --bg-header: #2A5EE8;
    --light-bar: #7289DA;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.debug{
    border: 1px solid black;
}

body{
    background-color: var(--primary-color);
    font-family: 'Noto Sans', sans-serif, Arial;
}


/* header */
header{
    background-color: var(--bg-header);
}

ul{
    list-style: none;
}

ul.nav li{
    padding: 0 2rem;
}

.nav{
    color: var(--primary-color);
    padding: 2rem;    
}

.button{
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    margin: 0 10px;
    text-align: center;
    font-weight: bold;
}

.white-button{
    background-color: var(--primary-color);
}

.black-button{
    background-color: var(--dark-text);
    color: var(--primary-color);
}

a:link {
    color : var(--dark-text);
    text-decoration: none
}

a:visited{
    color : var(--primary-color);
    text-decoration: none
}

.white-button a:visited {
    color : var(--dark-text);
    text-decoration: none
}

.black-button a:visited {
    color : var(--primary-color);
    text-decoration: none
}

#hero{
    background-image: url(../img/jumbo.png);
    min-height: 500px;
    background-size: cover;
}

.center-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
    text-align: center;
}

.paragrafo-header{
    color: var(--primary-color);
    padding-top: 2.5rem;
    line-height: 1.5rem;
}

h1{
   font-size: 40px;
}

.flex-button{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

/* Fine header */

/* Inizio main */

.even{
    background-color: var(--bg-section);
    flex-flow: row-reverse wrap;
}
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.reverse{
    flex-flow: row-reverse wrap;
}
.align-center{
    align-items: center;
}
.left{
    width: 60%;
}
.right{
    width: 40%;
}


footer{
    background-color: var(--bg-footer);
    color: var(--primary-color);
}